textarea{
    margin-top: 8%;
    font-family: georgia;
}

#choosef{
    margin-top: 1%;
}

#subm{
    margin-top: 1%;
    padding: 5px 123px;
    font-family: georgia;
}

body{
    margin: 0;
    height: 100%;
    background-image: url(bg3.jpg);
    background-size: cover;

}

#indexNav{
    opacity: 0.7;
    filter: alpha(Opacity=70);
    font-family: georgia;
}