#custom-search-input{
    margin-top: 10%;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    font-family: georgia;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    font-family: georgia;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 19px;
}

#searchNav{
    opacity: 0.7;
    filter: alpha(Opacity=70);
    font-family: georgia;
}

#foundref{
    font-family: georgia;
}

#pagin{
    font-family: georgia;
}

body{
    margin: 0;
    height: 100%;
    background-image: url(bg3.jpg);
    background-size: cover;
}

h3{
    font-family: georgia;
    font-size: 100%;
    font-color: #999999;
}